# MongoDB Connection String
# Local: mongodb://localhost:27017/lamviet-movie
# Atlas: mongodb+srv://<username>:<password>@cluster.xxxxx.mongodb.net/lamviet-movie
MONGODB_URI=mongodb://localhost:27017/lamviet-movie

# JWT Secret Key (thay đổi trong production)
JWT_SECRET=your-super-secret-key-change-in-production

# Server Port
PORT=3000
